.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & input, textarea {
    min-width: 60%;
    width: 60%;
    max-width: 60%;
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
    margin: 0.5em;
    border-radius: 0.75rem;
    border: solid 3px transparent;
    outline: none;
    transition: scale 400ms, background-color 400ms, border 400ms, color 400ms;
  }

  & textarea {
    min-height: 20vh;
    max-height: 30vh;
  }

  & input:focus, textarea:focus {
    border: solid 3px aqua;
    scale: 1.05;
    color: white;
    background-color: var(--color-primary);
  }

  & input:focus::placeholder, textarea:focus::placeholder {
    color: white;
  }

  & input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
  }

  & .contact-error {
    color: white;
    margin: 20px 0;
    font-size: 1.1em;
  }

  & .contact-success {
    color: lime;
    margin: 20px 0;
    font-size: 1.1em;
  }
}