.bar-wrapper {
  position: relative;
  height: 2rem;
  background-color: #e2e0e0;
}

.bar-value {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #04ACB2;
  height: 100%;
  transition: 1s 0.25ms width ease-in-out;
}

.bar-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #04C2C9;
  color: white;
  font-weight: 600;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100px;
  padding: 0 1rem;
}