.header-background {
  position: sticky;
  top: 0;
	left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.icon-row {
  display: flex;
  overflow: hidden;
}

.header-background svg {
  color: rgb(var(--color-secondary));
  font-size: 3em;
  transition: all 1s;
  opacity: 0.5;
  overflow: hidden;
}

.header-background svg:hover {
  color: rgb(var(--color-quinary));
  filter: drop-shadow(2px 2px 4px rgb(var(--color-quinary)));
  opacity: 1;
  transition: 0s;
}

@media (max-width: 600px) {

}