@import "../../assets/animations.css";

#about {
  z-index: 3;
  position: relative;
  width: 100%;
  padding-top: 3rem;
}

.about-content {
  width: 70%;
  margin: 2rem auto;
}

.about-content h3 {
  font-weight: 700;
  margin: 1rem auto;
}

.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.personal-info  .hexagon {
  height: 22em;
  width: 22em;
  margin: 10px 0;
}

.bar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.personal-info img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.hexagon-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hexagon-column {
  margin: 0 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon-column p {
  text-align: center;
}

/* LOGOS */

/* seo */
.seo-logo {
  animation: shrink-and-grow 3000ms infinite;
}

/* functional */
.gear-logo {
  animation: spin 3000ms infinite;
}

/* rwd */
.fantasy-carousel {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 150px);
}

.fantasy-carousel svg {
  animation: carousel-horizontal 6000ms infinite;
}

.fantasy-carousel svg:nth-child(1) {
  width: 2rem;
}

.fantasy-carousel svg:nth-child(2) {
  width: 3.5rem;
}

.fantasy-carousel svg:nth-child(3) {
  width: 5rem;
}

/* aria */
.aria-carousel {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 150px);
  overflow: hidden;
  transform: translateY(-75px);
}

.aria-carousel svg {
  animation: carousel-vertical 4000ms infinite;
}

@media (max-width: 600px) {

  .about-content {
    display: none;
  }
  
  .hexagon-row {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}