@import "../../assets/animations.css";

#about {
  z-index: 3;
  position: relative;
  width: 100%;
  padding-top: 3rem;
}

.about-content {
  width: 70%;
  height: 100%;
}

.about-content h3 {
  padding-bottom: 2.5rem;
}

.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.personal-info  .hexagon {
  height: 18rem;
  width: 18rem;
  margin: 10px auto;
  background-color: rgb(var(--color-senary));
}

.bar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.personal-info img {
  height: 100%;
  width: 100%;
  z-index: 5;
  object-fit: fill;
}

.personal-info p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: rgb(var(--color-octonary));
}

.hexagon-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.hexagon-column {
  margin: 0 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon-column p {
  text-align: center;
  color: rgb(var(--color-octonary));
}

/* LOGOS */

/* seo */
.seo-logo {
  animation: shrink-and-grow 3000ms infinite;
}

/* functional */
.gear-logo {
  animation: spin 3000ms infinite;
}

/* rwd */
.responsive-carousel {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 150px);
}

.responsive-carousel svg {
  animation: carousel-horizontal 6000ms infinite;
}

.responsive-carousel svg:nth-child(1) {
  width: 2rem;
}

.responsive-carousel svg:nth-child(2) {
  width: 2.5rem;
}

.responsive-carousel svg:nth-child(3) {
  width: 4rem;
}
@media (min-width: 1080px) {

}

@media (max-width: 600px) {

  #about {
    padding-top: 6rem;
  }

  .about-content {
    width: 90%;
  }

  .about-content h3 {
    padding-bottom: 0.5rem;
  }

  .personal-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr;
    justify-items: center;
    align-items: center;
    gap: 2.5rem;
  }

  .personal-info .hexagon {
    height: 15rem;
    width: 15rem;
  }

  .personal-info p {
    text-align: center;
    width: 90%;
  }

  .bar-container {
    gap: 0.5em;
  }
  
  .hexagon-row {
    margin: 2.5rem 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
}