.card {
  position: relative;
  overflow: hidden;
  width: 24%;
  background-position: center;
  background-size: cover;
  height: 20em;
  background-color: #04C2C9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  isolation: isolate;
}

.card * {
  transition: all 225ms;
}

.card-details {
  transform: translateY(-15em)
}

.card-details > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-details ul li {
  margin: 0.5em;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  /* text-shadow: -1.5px 0 #04C2C9, 0 1.5px #04C2C9, 1.5px 0 #04C2C9, 0 -1.5px #04C2C9; */
}

.card button {
  padding: 0.75em 1.25em;
  border-radius: 20px;
  border: solid 2px #04C2C9;
  color: #04C2C9;
  font-weight: bold;
  font-size: 1em;
  background-color: white;
  transform: translateY(10em);
}

.card button:hover {
  box-shadow: 0 0 60px white;
  cursor: pointer;
}

.card:hover::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #04C2C9;
  opacity: 0.5;
}

.card:hover .card-details {
  transform: translateY(0);
}

.card:hover button {
  transform: translateY(0)
}