.card {
  overflow: hidden;
  width: 24%;
  height: 20em;
  background-color: #04C2C9;
  text-align: center;
  display: grid;
  align-content: center;
}

.card, .card h2, .card button {
  transition: all 300ms ease-in-out;
}

.card:hover > h2 {
  transform: translateY(-10em);
}

.card:hover >  button {
  transform: translateY(-2em);
}

.card button {
  padding: 1em;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  margin: 0 auto;
  transform: translateY(10em);
}