.hexagon {
  height: 9rem;
  width: 9rem;
  background: rgb(var(--color-quinary));
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 400ms;
}

.hexagon-priorities::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgb(var(--color-quinary)) 70%, rgb(var(--color-primary)) 85%);
  transition: all 400ms;
  opacity: 0;
}

.hexagon-priorities:hover::before {
  opacity: 1;
}

@media (max-width: 600px) {
  .hexagon-priorities:hover::before {
    opacity: 0;
  }
}