.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; /* Sit on top */
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  padding: min(4em, 7vw, 7vh);
  padding-top: 0;
  border-radius: 1rem;
  width: clamp(50%, 600px, 80%);
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  & * {
    transition: all 400ms;
  }

  & .close-button {
    border-radius: 1rem;
    margin-left: auto;
    margin-right: calc(min(4em, 7vw, 7vh) * -1 + 4px);
    padding: 10px 15px;
    background-color: transparent;
    color: #04C2C9;
    transition: all 400ms;
  }

  & .close-button:hover {
    box-shadow: none;
    color: white;
    background-color: #04C2C9;
  }

  & p {
    padding: 1em 0;
    text-align: justify;
  }

  & h4 {
    color: var(--color-quintenary);
    text-align: center;
  }

  & .technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;

    & a {
      padding: 0.75em 1.25em;
      margin: 0.25em;
      text-decoration: none;
      color: var(--color-quintenary);
      border: 1px solid var(--color-quintenary);
      border-radius: 0.5em;
    }

    & a:hover {
      background-color: var(--color-quintenary);
      color: white;
    }
  }

  & .admin-creds {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & big {
      color: var(--color-quintenary);
    }

    & ul {
      list-style: none;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;

        & :nth-child(1) {
          color: var(--color-quintenary);
        }
      }

      & span {
        color: black;
        font-family: "REM", sans-serif;
        letter-spacing: .1rem;
        line-break: strict;
      }
    }
  }

  & .navigation {
    padding-top: 1em;

    & a {
      text-decoration: none;
      border: 2px solid var(--color-quintenary);
      color: var(--color-quintenary);
      padding: 0.75em 1.25em;
      margin: 0 0.25em;
    }

    & a:hover {
      background-color: var(--color-quintenary);
      color: white;
    }
  }
}

@media (max-width: 600px) {
  .technologies {
    
    & a {
      padding: 0.25em 0;
      flex-basis:content;
    }
  }

  .admin-creds > big {
    font-size: 1rem;
  }
}