.header {
  position: relative;
  background-color: rgb(var(--color-primary));
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-content  h1, .header-content  h2 {
  font-weight: 700;
  width: fit-content;
  text-align: center;
}

span {
  font-weight: 700;
  color: rgb(var(--color-quinary));
  transition: color 400ms;
}

.header-buttons-container {
  margin-top: 1.5rem;

  & a {
    background-color: transparent;
  }

  & a:hover {
    background-color: rgb(var(--color-quinary));
  }
}

@media (max-width: 600px) {
  #header span {
    font-size: 1.5rem !important;
  }
 }