.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}

span {
  color: aqua;
  font-family: "Roboto Mono", monospace;
}

.profession {
  color: white;
}

.header > a {
  margin-top: 20px;
  padding: 12px 25px;
  border: 2px solid white;
}

.header > a:hover {
  color: red;
}