footer {
  position: absolute;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(var(--color-primary));
  color: white;
  box-shadow: 0px -20px 60px rgb(var(--color-quinary));
  transition: box-shadow 400ms;

  & ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }

  & a {
    color: rgb(var(--color-quinary));
    text-decoration: none;
    transition: all 200ms;
  }

  & a:hover {
    filter: brightness(175%)
  }
}

@media (max-width: 600px) {
  footer {
    font-size: 8pt;
  }
}