@keyframes shrink-and-grow {
  0% {
    scale: 0.5;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 0.5
  }
}

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes carousel-horizontal {
  25% {
    transform: translateX(-150px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(150px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes carousel-vertical {
  50% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes rise-and-spin {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}