@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#about {
  height: 95vh;
  background-color: white;
}

#projects {
  min-height: 95vh;
  background-color: #F5F5F5;
}

#contact {
  height: 79vh;
  background-color: var(--color-tertiary);
}