@import url('https://fonts.googleapis.com/css2?family=REM:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#header {
  height: 100vh;
  width: 100vw;
}

#about {
  min-height: 95vh;
  background-color: white;
}

#projects {
  min-height: 95vh;
  background-color: #F5F5F5;
}

#contact {
  min-height: 81vh;
  background-color: var(--color-tertiary);
}

.button-type-A {
  font-size: 12pt;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  margin: 5px 10px;
  border: 2px solid #04C2C9;
  color: white;
  background-color: var(--color-primary);
  transition: background-color 400ms, scale 400ms, box-shadow 400ms;;
  /* fixing sharpness on scaling */
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.button-type-A:hover, .button-type-A:focus {
  box-shadow: 0 0 20px #04C2C9;
  scale: 1.10;
  background-color: #04C2C9;
}

.button-type-B {
  font-size: 14pt;
  color: white;
  transition: background-color 400ms, scale 400ms, box-shadow 400ms;;
  padding: 15px 15px;
}

@media (max-width: 600px) {
  p, a, button, span {
    font-size: 8pt !important;
  }
  
  h4 {
    font-size: 1.15rem !important;
  }
}