:root {
  --color-primary: #070F2B;
  --color-secondary: #1B1A55;
  --color-tertiary: #535C91;
  --color-quaternary: #9290C3;
  --color-quintenary: #04C2C9;
  --s: 100px;  /* size  */
  --m: 4px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 body, html {
  overflow-x: clip;
}

h1 {
  color: white;
  font-size: 4.5rem;
  font-family: "Roboto Mono", monospace;
}

h2 {
  color: white;
  font-size: 2.5rem;
}

h3 {
  margin: 0 auto;
  width: fit-content;
  color: #444649;
  font-size: 2rem;
}

h4 {
  margin: 5px 0;
  width: fit-content;
  color: #616161;
  font-size: 1.5rem;
}

a {
  cursor: pointer;
}

svg {
  width: 4rem;
}

p {
  letter-spacing: .1rem;
  line-break: strict;
  font-size: 12pt;
}
